project_id = "<your gcloud project id>"
project_number = "<your gcloud project number>"
region     = "<gcloud region where the project resources exist>"

# Get from your kubernetes cluster. Guide here:
# https://docs.cloud.google.com/iam/docs/workload-identity-federation-with-kubernetes#kubernetes
k8s_issuer_uri = "<your kubernetes issuer uri>"

cloudflare_api_token = "<cloudflare api token>"
cloudflare_account_id = "<cloudflare account id>"
cloudflare_tunnel_secret = "<your cloudflare tunnel secret>"
