project_id = "<your gcloud project id>"
project_number = "<your gcloud project number>"
region     = "<gcloud region where the project resources exist>"

# Get from your kubernetes cluster. Guide here:
# https://docs.cloud.google.com/iam/docs/workload-identity-federation-with-kubernetes#kubernetes
k8s_issuer_uri = "<your kubernetes issuer uri>"

cloudflare_api_token = "<cloudflare api token>"
cloudflare_account_id = "<cloudflare account id>"
cloudflare_tunnel_secret = "<your cloudflare tunnel secret>"
cloudflare_zone_id = "test"

# Infrastructure identifiers
tf_state_bucket_name      = "<your terraform state bucket name>"
example_bucket_name       = "<your example bucket name>"
gar_location              = "us-central1"
secrets_manager_sa_id     = "secrets-manager-sa"
secrets_manager_sa_email  = "<secrets-manager-sa>@<project-id>.iam.gserviceaccount.com"

# Access control
access_policy_admin_emails = ["your-email@example.com"]
