application-template:
  name: portfolio
  namespace: portfolio
  clusterSecretStoreName: cluster-secret-store
  serviceAccount:
    create: true
    name: portfolio

  deployments:
    - name: portfolio
      image:
        repository: ccrawford4/portfolio
        pullPolicy: IfNotPresent
        tag: "v1.0.4"
        port: 3000
      service:
        enabled: true
        port: 3000
      container:
        env:
          - name: CHAT_API_KEY
            valueFrom:
              secretKeyRef:
                name: portfolio-secrets
                key: chat-api-key
          - name: CHAT_API_URL
            value: "http://ai-agent-api.ai-agent-api.svc.cluster.local/chat"

  secrets:
    - name: portfolio-secrets
      data:
        - secretKey: chat-api-key
          remoteRefKey: portfolio-chat-api-key
