application-template:
  name: portfolio
  namespace: portfolio
  clusterSecretStoreName: cluster-secret-store
  serviceAccount:
    create: true
    name: portfolio

  deployments:
    - name: portfolio
      image:
        repository: ccrawford4/portfolio
        pullPolicy: IfNotPresent
        tag: "v0.0.1"
        port: 3000
      service:
        enabled: true
        port: 3000
